<div class="card" id="{{ .Modality }}-{{ .Department }}">
  <header class="card-header">
    <p class="card-header-title is-uppercase is-size-4">
      {{ .Department}}
    </p>
    <div class="tags has-addons card-header-icon">
      {{ if .PriorityName}}
      <span class="tag {{ .PriorityName }}" title="Seit {{.CreatedAt}}">Offen</span>
      <span class="tag is-dark" title="Seit {{.CreatedAt}}">{{ .CreatedAt }}</span>
      <span class="tag is-delete" ic-post-to="/modality/{{ .Modality}}/department/{{ .Department}}/cancel"
        ic-target="#{{ .Modality }}-{{ .Department }}" title="Visierung zurücknehmen"></span>
      {{ end}}
    </div>
  </header>
  <div class="card-content">
    <div style="display:flex;justify-content: space-between">
      <a href="#" class="button is-rounded is-info is-medium" ic-target="#{{ .Modality }}-{{ .Department }}"
        {{if le .PriorityNumber  3}} disabled {{else}}
        ic-post-to="/modality/{{ .Modality }}/department/{{ .Department }}/prio/3" {{end}} title="Visierung mit tiefer Priorität erstellen">Tief</a>
      <a href="#" class="button is-rounded is-warning is-medium" ic-target="#{{ .Modality }}-{{ .Department }}"
        {{if le .PriorityNumber  2}} disabled {{else}}
        ic-post-to="/modality/{{ .Modality }}/department/{{ .Department }}/prio/2" {{end}} title="Visierung mit mittlerer Priorität erstellen">Mittel</a>
      <a href="#" class="button is-rounded is-danger is-medium" ic-target="#{{ .Modality }}-{{ .Department }}"
        {{if le .PriorityNumber  1}} disabled {{else}}
        ic-post-to="/modality/{{ .Modality }}/department/{{ .Department }}/prio/1" {{end}} title="Visierung mit hoher Priorität erstellen">Hoch</a>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item columns">
      <div class="column"><span class="is-size-7">Arduino Status</span></div>
      {{ if .ArduinoStatus}}
      <div class="column has-text-success has-text-right"><i class="fa fa-signal" title="Arduino verbunden"></i></div>
      {{else}}
      <div class="column has-text-danger has-text-right"><i class="fa fa-ban" title="Kein Signal vom Arduino"></i></div>
      {{end}}
    </div>
  </footer>
</div>