<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>USB KRN light-messenger</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/css/bulma-0.7.5.css" />
  <link rel="stylesheet" href="/static/css/bulma-tooltip.min.css" />

  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/intercooler-1.2.2.js"></script>
</head>

<body>
  <section class="section-navbar">
    <div class="container">
      <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <figure class="image is-24x24"><img src="/static/images/usb-logo.png" alt="logo" /></figure>
            &nbsp; Light Messenger
          </a><a role="button" class="navbar-burger burger" aria-label="menu" data-target="navbarBasicExample"
            href="#"><span aria-hidden="true"></span><span aria-hidden="true"></span><span
              aria-hidden="true"></span></a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="tooltip is-tooltip-bottom" data-tooltip="{{ .BuildTime }}">
                <span class="tag is-dark">{{ .Version }}</span>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Abteilung <span class="is-uppercase">{{ .Department}}</span>
      </h1>
      <h2 class="subtitle">Ausstehendene Visierungen</h2>
      <div class=""><span class="is-size-6">Arduino Status</span>
        {{ if .ArduinoStatus}}
        <i class="fa fa-signal" title="Arduino verbunden"></i>
        {{else}}
        <i class="fa fa-ban" title="Kein Signal vom Arduino"></i>
        {{end}}
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      {{ .Notifications}}
    </div>
  </section>
</body>

</html>