<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>USB KRN light-messenger</title>
  <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" sizes="any">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/bulma-0.7.5.css" />
  <link rel="stylesheet" href="/static/css/bulma-tooltip.min.css" />

  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/intercooler-1.2.2.js"></script>
</head>

<body>
  <section class="section-navbar">
    <div class="container">
      <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand"><a class="navbar-item" href="/">
            <figure class="image is-24x24"><img src="/static/images/usb-logo.png" alt="logo"></figure>&nbsp;
            Light
            Messenger
          </a><a role="button" class="navbar-burger burger" aria-label="menu" data-target="navbarBasicExample"
            href="#"><span aria-hidden="true"></span><span aria-hidden="true"></span><span
              aria-hidden="true"></span></a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="tooltip is-tooltip-bottom" data-tooltip="{{ .BuildTime }}"><span
                  class="tag is-dark">{{ .Version }}</span></div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title" style="padding-bottom: 1rem">Visierung <span class="is-uppercase">{{ .Modality}}</span></h1>
      {{ if ne .Modality "nuk"}}
      {{ if eq .Modality "ct"}}
      <div class="columns" style="background-color: #6D9274">
        {{else}}
        <div class="columns" style="background-color: #6D7892">
          {{end}}
          <div class="column is-3">
            {{ .AOD }}
          </div>
          <div class="column is-3">
            {{ .CTD}}
          </div>
          <div class="column is-3">
            {{ .MSK}}
          </div>
          <div class="column is-3">
            {{ .NR}}
          </div>
        </div>
        {{else}}
        <div class="columns">
          <div class="column is-3" style="background-color: #926D8B">
            {{.NUK_NUK}}
          </div>
        </div>
        {{end}}
      </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title has-text-centered" style="padding-bottom: 1rem;text-decoration: underline">Abgeschlossene Visierungen</h2>
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <table class="table is-striped is-fullwidth" style="margin-left: auto;margin-right: auto;">
            <thead>
              <tr>
                <th>Abteilung</th>
                <th>Priority</th>
                <th class="has-text-right">Erstellt am</abbr></th>
                <th class="has-text-right">Bestätigt am</abbr></th>
                <th class="has-text-right">Cancelled am</abbr></th>
              </tr>
            </thead>
            <tbody>
              {{ range $n := .ProcessedNotifications }}
              <tr>
                <th class="is-uppercase has-text-weight-normal">{{.DepartmentID}}</th>
                <td>
                  <div class="tag {{priorityMap .Priority}} is-rounded" </div>{{priorityName .Priority}} </td> <td
                    class="has-text-right">{{ toTime .CreatedAt}}
                </td>
                <td class="has-text-right">{{ toTime .ConfirmedAt}}</td>
                <td class="has-text-right">{{ toTime .CancelledAt}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </section>

</body>

</html>